<!DOCTYPE html>

<html lang="en">
   
    <head>
        
        <title>Create Account</title>

        <style>
            body {
                font: 16px;
                text-align: center;
                background: lightblue;
            }
            .mainBox {
                width: 20rem;
                margin: auto;
            }

        </style>
   
    </head>


    <body>

        <br><br>
        <h1>Create An Account </h1>
        
        <form>

            <fieldset class = "mainBox">
                <strong>First Name:</strong>
                <input type = "text" name = "firstName">
                <br>
                <br>
                <strong>Last Name:</strong>
                <input type = "text" name = "lastName">
                <br>
                <br>
                <strong>Username:</strong>
                <input type = "text" name = "userName">
                <br>
                <br>
                <strong>Password:</strong>
                <input type = "text" name = "password">
                <br>
                <br>
                <button type = "reset">Reset</button>
                <button type = "submit">Submit Application</button>
            </fieldset>
          
        </form>

    </body>

</html>