<!DOCTYPE html>

<html lang="en">
   
    <head>
        
        <title>Welcome to Untitled App</title>
        <link rel = "stylesheet" href = "style.css" type = "text/css">
   
    </head>


    <body>

        <h1>GEOCAST</h1>

        <form class = "mainBox">
            <fieldset>
                <h2><strong>Sign In</strong></h2>
                <strong>Username:</strong>
                <input type = "text" name = "userName">
                <br>
                <br>
                <strong>Password:</strong>
                <input type = "text" name = "password">
            </fieldset>
            <br>
            <fieldset>
                <a href = "/createAccount">Create Account</a>
            </fieldset>

        </form>


    </body>

</html>

