<!doctype html>

<html lang="en">

	<head>

		<title>Home Page Data</title>

	</head>

	<body>
		
		<h1>Home Page Data</h1>
		<div>
			<strong>Name: </strong> <%=username%>
			<br>
			<strong>Password: </strong> <%=password%>
			<br>
		</div>

		<hr>
		<a href = "/">Home</a>

	</body>

</html>