<!DOCTYPE html>

<html lang="en">
   
    <head>
        
        <title>Enter Location</title>
   
        <style>
            body {
                font: 16px;
                text-align: center;
                background: lightblue;
            }
            .mainBox {
                width: 20rem;
                margin: auto;
            }
        </style>

    </head>


    <body>
        
    </body>
    
    
</html>