<!doctype html>

<html lang="en">

	<head>

		<title>Location</title>

        <style>
            body {
                font: 16px;
                text-align: center;
                background: lightblue;
            }
            .mainBox {
                width: 20rem;
                height: 10rem;
                margin: auto;
            }
            div {
                width: 50rem;
                margin: auto;  
            }

        </style>

	</head>

	<body>
		
        <form>
            <fieldset class = "mainBox">
                <h2><strong>Enter Location</strong></h2>
                <strong>Location:</strong>
                <input type = "text" name = "username">
                <br><br>
        
            </fieldset>
        </form>

   
		<hr>
		<a href = "/">Home</a>

	</body>

</html>